.header{
    height: 65px;
    width: auto;
    background: #393D49;
}
.sidebar{

    width: 13%;
    height: 100%;
    float: left;
    border-right:1px solid #ccc;
}
.product{
    width: 87%;
    height: 500px;
    float: left;
    position: relative;
    top: -13px;
}
.clear{
    clear:both;
    height: 0;
    line-height: 0;
    font-size: 0
}
.user-info{
    float:right;
    position: relative;
    margin: 10px;
    right: 5px;

}
#list{
    width:100%;
    height:auto;
    position:relative
}
#list ul li{
    margin:20px
}
#list ul li img{
    width:220px;
    height:220px
}
#list ul li p{
    line-height:22px
}
#pagecount{
    width:500px;
    margin:10px auto 2px auto;
    padding-bottom:20px;
    text-align:center
}
#pagecount span{
    margin:4px;
    font-size:14px
}
#pagecount a{
    color:#007bc4;
}
#list ul li#loading{
    width:120px;
    height:32px;
    line-height:32px;
    border:1px solid #d3d3d3;
    position:absolute;
    top:35%; left:42%;
    text-align:center;
    background:#f7f7f7 url(loading.gif) no-repeat 8px 8px;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,.2);
    box-shadow:1px 1px 2px rgba(0,0,0,.2);
}
.usermess{
    margin: 74px 405px;
    width: 400px;
    height: 500px;
    background-color: #e2e2e2;
    text-align: center;
}
.userimag{
    margin-bottom: 52px;
}
/*#usermess ul li{
    width:220px;
    height:260px;
    margin:2px
}*/